@media (min-width:700px){
    *{
        margin: 0;
        padding: 0;
    }
    
  .main-flex{
    flex-direction: row;
    margin-bottom: 0;
    
  }


  .intro h1,h2{
    font-size: 3em;
  }
  .intro{
    width: 75em;
   text-align: center;
  }
  .flower-line{
    width: 55em;
  }
  .talk{
    flex-direction: row;
  }
  .myimga img {
    height:18em;
    width:100%;
    object-fit: scale-down;
}
.talk{
   justify-content: center;
   column-gap: 2em;
}
.col1{
    display: flex;
    flex-direction: column;
    width: 24%;
    justify-content: center;
}
.h3-contact{
    font-size: 3em;
}
.p-contact-div{
    width: 30%;
    font-size: 1.3em;
    text-align: center;
}
p{
    font-size: 1.2em;
}

.line{
    width: 100%;
    margin-bottom: 20em;
}

.header{
  opacity: 1;
}
}